<div *ngIf="!Input; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>My Reactive Form</h1>
        <label>Input1
        <input type="text" formControlName="Input1">
        </label>
        <div class="alert" *ngIf="!rForm.controls['Input1'].valid && rForm.controls['Input1'].touched">{{ titleAlert }}</div>
        <label>Input2
        <input type="text" formControlName="Input2">
        </label>
        <div class="alert" *ngIf="!rForm.controls['Input2'].valid && rForm.controls['Input2'].touched">{{ titleAlert }}</div>
        <label>Input3
        <input type="text" formControlName="Input3">
        </label>
        <div class="alert" *ngIf="!rForm.controls['Input3'].valid && rForm.controls['Input3'].touched">{{ titleAlert }}</div>





        <label for="myCheck">Terms and Conditions:</label> 
        <input type="checkbox" id="myCheck" onclick="myFunction()">
        
        <p id="text" style="display:none">Terms and Conditions Accepted</p>
        
        <script>
        function myFunction() {
          var checkBox = document.getElementById("myCheck");
          var text = document.getElementById("text");
          if (checkBox.checked == true){
            text.style.display = "block";
          } else {
             text.style.display = "none";
          }
        }
        </script>
        





      </div>
    </div>
  </form>
</div>
<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
        <h1>{{ name }}</h1>
    </div>
  </div>
</ng-template>